kind: Secret
apiVersion: v1
metadata:
  name: etcd-{{ cluster_id }}-peer-tls
data:
  peer.crt: {{ ( lookup('file', '{{ cert_output_directory_path }}/etcd-{{ cluster_id }}-peer.pem') + '\n' ) | b64encode }}
  peer.key: {{ ( lookup('file', '{{ cert_output_directory_path }}/etcd-{{ cluster_id }}-peer-key.pem') + '\n' ) | b64encode }}
  peer-ca.crt: {{ ( lookup('file', '{{ cert_output_directory_path }}/etcd-{{ cluster_id }}-ca.pem') + '\n' ) | b64encode }}
