kind: Secret
apiVersion: v1
metadata:
  name: etcd-{{ cluster_id }}-client-tls
data:
  etcd-client.crt: {{ ( lookup('file', '{{ cert_output_directory_path }}/etcd-{{ cluster_id }}-client.pem') + '\n' ) | b64encode }}
  etcd-client.key: {{ ( lookup('file', '{{ cert_output_directory_path }}/etcd-{{ cluster_id }}-client-key.pem') + '\n' ) | b64encode }}
  etcd-client-ca.crt: {{ ( lookup('file', '{{ cert_output_directory_path }}/etcd-{{ cluster_id }}-ca.pem') + '\n' ) | b64encode }}
