kind: Secret
apiVersion: v1
metadata:
  name: etcd-{{ cluster_id }}-server-tls
data:
  server.crt: {{ ( lookup('file', '{{ cert_output_directory_path }}/etcd-{{ cluster_id }}-server.pem') + '\n' ) | b64encode }}
  server.key: {{ ( lookup('file', '{{ cert_output_directory_path }}/etcd-{{ cluster_id }}-server-key.pem') + '\n' ) | b64encode }}
  server-ca.crt: {{ ( lookup('file', '{{ cert_output_directory_path }}/etcd-{{ cluster_id }}-ca.pem') + '\n' ) | b64encode }}
