kind: Secret
apiVersion: v1
metadata:
  name: cos-credentials
data:
  credentials: {{ ( lookup('template', '{{ etcd_operator_template_path }}/cos-credentials.j2') + '\n' ) | b64encode }}
  config: {{ ( lookup('template', '{{ etcd_operator_template_path }}/cos-config.j2') + '\n' ) | b64encode }}
